<!DOCTYPE html>
<html>
<head>
    <title>Registration Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- You can link to your CSS file if you want to apply styles -->
</head>
<body>
    <div class="container">
        <form action="/quiz" method="get">
            <h1>Thank You for Registering!</h1>
            <p>Your registration has been successful.</p>
            <!-- Additional content or message can be added here -->
            <input type="submit" value="Go To Quiz">
        </form>
    </div>
</body>
</html>
